{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" style="height: 100%;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'moticom/css/bootstrap.min.css' %}">
        {% block extra_css %}{% endblock %}
        
        <title>{% block title %}My books{% endblock %}</title>
    </head>
    <!-- ページの共有レイアウト -->
    <body style="height: 100%; margin: 0;">
        <!-- ヘッダー -->
        <header class="d-flex sticky-top" style="height: 40px; margin: 0; background-color:rgb(255, 150, 128);">
            <h2 class="text-white ms-3">Moticom</h2>
        </header>
        <!-- サイドバー＋ページ内容領域（内容は別HTMLファイルに書く） -->
        <main style="display:flex; height: 100%; margin-top: 0;">
            <!-- サイドバー -->
            <div style="width:250px; height: 100%; background-color:rgb(255, 150, 128);">
                <div class="d-flex flex-column text-white" style="position: sticky; top: 40px;">
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a id="analysis" href="#" class="nav-link text-white">
                                分析結果
                            </a>
                        </li>
                         <li>
                            <a id="user_cr" href="#" class="nav-link text-white">
                                ユーザ確認・登録
                            </a>
                        </li>
                        <li>
                            <a id="layout" href="#" class="nav-link text-white">
                                ユーザ画面調整
                            </a>
                        </li>
                        <li>
                            <a id="genre_manage" href="#" class="nav-link text-white">
                                ジャンル管理
                            </a>
                        </li>
                        <li>
                            <a id="ng_filter" href="#" class="nav-link text-white">
                                フィルター設定
                            </a>
                        </li>
                        <li>
                            <a id="resort" href="#" class="nav-link text-white">
                                報告再振り分け
                            </a>
                        </li>
                        <li>
                            <a id="se_measure" href="#" class="nav-link text-white">
                                セキュリティ対策紐付け・追加
                            </a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
            <!-- ページ内容領域 -->
            <div class="container-fluid">
                {% block content %}
                {{ content }}
                {% endblock %}
            </div>
        </main>
        <!-- フッター -->
        <footer class="footer d-flex align-items-center mt-auto py-3 text-white-50" style="background-color:rgb(255, 150, 128);">
            <small>&copy; 2021 奥原PBL</small>
        </footer>
        <script src="{% static 'moticom/js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'moticom/js/bootstrap.bundle.min.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>