{% extends "moticom/base_admin.html" %}

{% load i18n static %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<body>
    <script src="{% static 'moticom/js/chart.js/dist/chart.js' %}"></script>
    <div class="container gx-5" style="padding: 10px 10px 10px 10px;">
        <div>
            <h1 class="mt-4 border-bottom">分析結果</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for chart_data in data.values %}
                    {% include 'moticom/charts/line_plot.html' with chart_data=chart_data %}
            {% endfor %}
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4" style="padding-top: 50px;">
            <div class="col">
            {% for chart_data in genre_count.values %}
                    {% include 'moticom/charts/pie_plot.html' with chart_data=chart_data %}
            {% endfor %}
            </div>
            <div class="col">
            {% for chart_data in cm_count.values %}
                    {% include 'moticom/charts/pie_plot.html' with chart_data=chart_data %}
            {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 50px; ">
            <div class="col col-md-offset-2">
                <h7>管理策一覧</h7>
                <div class="overflow-auto">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">管理策ID</th>
                                <th scope="col">管理策名</th>
                                <th scope="col">管理策内容</th>
                                <th scope="col">ジャンル</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cm in object_list %}
                            <tr>
                                <th scope="row">{{ cm.id }}</th>
                                <td>{{ cm.cm_name }}</td>
                                <td>{{ cm.cm_contents }}</td>
                                <td>{{ cm.genre_id }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}