{% extends "moticom/base_admin.html" %}

{% load i18n static %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<body>
    <script src="{% static 'moticom/js/chart.js/dist/chart.js' %}"></script>
    <div class="container gx-5" style="padding: 10px 10px 10px 10px;">
        <div>
            <h1 class="mt-4 border-bottom">分析結果</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for chart_data in data.values %}
                    {% include 'moticom/charts/line_plot.html' with chart_data=chart_data %}
            {% endfor %}
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4" style="padding-top: 50px;">
            <div class="col">
            {% for chart_data in genre_count.values %}
                    {% include 'moticom/charts/pie_plot.html' with chart_data=chart_data %}
            {% endfor %}
            </div>
            <div class="col">
            {% for chart_data in cm_count.values %}
                    {% include 'moticom/charts/pie_plot.html' with chart_data=chart_data %}
            {% endfor %}
            </div>
        </div>
        <div class="row" style="padding-top: 50px; ">
            <div class="col-md-8 col-md-offset-2">
                <h7>データ一覧</h7>
                <div class="overflow-auto">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">name</th>
                                <th scope="col">Last</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Taro</td>
                                <td>Suzuki</td>
                                <td>suzuki@sample.com</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Yuko</td>
                                <td>Tanaka</td>
                                <td>tanaka@sample.com</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Zin</td>
                                <td>Kato</td>
                                <td>kato@sample.com</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Taro</td>
                                <td>Suzuki</td>
                                <td>suzuki@sample.com</td>
                                </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Yuko</td>
                                <td>Tanaka</td>
                                <td>tanaka@sample.com</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Zin</td>
                                <td>Kato</td>
                                <td>kato@sample.com</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Yuko</td>
                                <td>Tanaka</td>
                                <td>tanaka@sample.com</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Zin</td>
                                <td>Kato</td>
                                <td>kato@sample.com</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Taro</td>
                                <td>Suzuki</td>
                                <td>suzuki@sample.com</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Yuko</td>
                                <td>Tanaka</td>
                                <td>tanaka@sample.com</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Zin</td>
                                <td>Kato</td>
                                <td>kato@sample.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}