{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" style="height: 100%;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'moticom/css/bootstrap.min.css' %}">
        <style>
            .container-fluid::-webkit-scrollbar {
            display:none;}
        </style>
        {% block extra_css %}{% endblock %}
        
        <title>{% block title %}My books{% endblock %}</title>
    </head>
    <!-- ページの共有レイアウト -->
    <body style="height: 100%; margin: 0;">
        <!-- ヘッダー -->
        <header class="d-flex sticky-top" style="height: 40px; margin: 0; background-color:rgb(255, 150, 128);">
            <h2 class="text-white ms-3">Moticom</h2>
        </header>
        <!-- サイドバー＋ページ内容領域（内容は別HTMLファイルに書く） -->
        <main style="display:flex; height: 100%; margin-top: 0;">
            <!-- サイドバー -->
            <div style="width:250px; height: 100%; background-color:rgb(255, 150, 128);">
                <div class="d-flex flex-column text-white" style="position: sticky; top: 40px;">
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a id="top" href="{% url 'moticom:index' %}" class="nav-link text-white">
                                ダッシュボード
                            </a>
                        </li>
                         <li>
                            <a id="board" href="{% url 'moticom:board' %}" class="nav-link text-white">
                                投稿掲示板
                            </a>
                        </li>
                        <li>
                            <a id="report" href="{% url 'moticom:report' %}" class="nav-link text-white">
                                問題報告
                            </a>
                        </li>
                        <li>
                            <a id="complaints" href="{% url 'moticom:complaints' %}" class="nav-link text-white">
                                愚痴投稿
                            </a>
                        </li>
                        <li>
                            <a id="profile" href="{% url 'moticom:profile' %}" class="nav-link text-white">
                                プロフィール管理
                            </a>
                        </li>
                        <li>
                            <a id="help" href="{% url 'moticom:help' %}" class="nav-link text-white">
                                ヘルプ
                            </a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
            <!-- ページ内容領域 -->
            <div class="container-fluid" style="overflow: scroll; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none;">
                {% block content %}
                {{ content }}
                {% endblock %}
            </div>
        </main>
        <!-- フッター -->
        <footer class="footer mt-auto py-3 d-flex align-items-center justify-content-center" style="background-color:rgb(255, 150, 128);">
            <small class="text-white-50">&copy; 2021 奥原PBL</small>
        </footer>
        <script src="{% static 'moticom/js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'moticom/js/bootstrap.bundle.min.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>