{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" style="height: 100%;">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="{% static 'moticom/css/bootstrap.min.css' %}">
      {% block extra_css %}{% endblock extra_css %}
      <title>Moticom {% block title %}{% endblock title %}</title>
  </head>
  
  {% block content %}{% endblock content %}
  
  {% block extra_js %}{% endblock %}
</html>