{% extends 'moticom/base_admin.html' %}

{% load i18n static %}

{% block content %}
    <body>
         <!-- help から正しいところに移ったら cm_create に修正 -->
        <a class="btn btn-primary" href="{% url 'moticom:create' %}" role="button">管理策追加</a>
        <div class="overflow-auto">
            <table class="table table-striped" border="1">
                <tr>
                    <th width="20%"scope="col">管理策名</th>
                    <th width="50%" scope="col">管理策</th>
                    <th width="20%" scope="col">ジャンル</th>
                    <th width="10%" scope="col">編集</th>
                </tr>
                {% for controlmeasure in object_list %}
                <tr>
                    <th scope="row">{{ controlmeasure.cm_name }}</th>
                    <td>{{ controlmeasure.cm_contents }}</td>
                    <td>{{ controlmeasure.genre_id }}</td>
                    <!-- help から正しいところに移ったら cm_update に修正 -->
                    <th><a class="btn btn-primary" href="{% url 'moticom:update' controlmeasure.pk %}">編集</a></th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
{% endblock content %}
