{% extends 'moticom/base.html' %}

{% load i18n static %}

{% block content %}
  <body>
    <div class="container">
        <h2 class="mt-4 border-bottom">問題報告</h2>
    </div> 
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="container mt-5">
          <form class="card">
            <div class="card-header">投稿完了画面</div>
            <div class="card-body">
              <h5 class="card-title">投稿内容</h5>
              <textarea class="form-control" name="input_textarea" rows="5" cols="60" maxlength="300">
                {{ report_text }}
              </textarea>
            </div>
            <div class="mb-3 row" style="padding-left: 20px;">
              <label for="staticEmail" class="col-sm-2 col-form-label">ジャンル</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="{{ genre_id }}" aria-label="Disabled input example" disabled>
              </div>
            </div>
             <div style="text-align: center; padding-bottom: 2%;">
            </style>
                <button type="button" class="btn btn-primary btn-sm" onclick="sendPushNotification(); style.display='none';">通知する</button>
                <script>
                 function sendPushNotification(){
                  Push.create("Moticomより投稿情報", 
                   {
                    body: "新着投稿をお知らせします",
                    icon: '',
                    timeout: 8000,
                    onClick: function () {
                    window.focus(); 
                    this.close();
                    }
                  })
                }
                </script>
            </div>
            <div class="card-footer" style="text-align: center;">
              <a class="btn btn-primary" href="{% url 'moticom:report' %}" role="button">問題報告画面に戻る</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
{% endblock content %}