{% extends "moticom/base_admin.html" %}

{% load i18n static %}

{% block content %}
    <body>
    <div class="container gx-5" style="padding: 10px 10px 10px 10px;">
        <h2 class="mt-2 border-bottom pb-2">NGワード機能</h2>
        <!--
        <div style="padding-top: 20px;">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="inlineRadio1">有効にする</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="inlineRadio2">無効にする</label>
            </div>
        </div>
        -->

        <!-- Button trigger modal -->
        <div style="padding-top: 20px;">
            <div class="card" style="width: 45rem;">
                <div class="card-body">
                    <h4 class="card-title">NGワードリスト</h4>
                    {% for ng in ngword_list %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal-{{ng.id}}">
                        {{ ng }}
                    </button>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Modal -->
        {% for ng in ngword_list %}
        <div class="modal fade" id="exampleModal-{{ng.id}}" tabindex="-1" aria-labelledby="exampleModalLabel-{{ng.id}}"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel-{{ng.id}}">NGワード</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ ng }}
                    </div>
                    <form action="{% url 'moticom:delete_NGword' %}" method="post">
                        <div class="modal-footer">
                            {% csrf_token %}
                            <input type="hidden" name="ngword_id" value="{{ng.id}}">
                            <input type="submit" value="削除" class="btn btn-primary" data-bs-dismiss="modal">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="row g-3" style="padding-top: 20px;">
            <form action="{% url 'moticom:filter' %}" method="post">
                <div class="col">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <div class="col">
                    <input type="submit" value="追加する" class="btn btn-primary" role="button">
                </div>
            </form>
        </div>
        <div style="text-align: center; padding-left: 30%; padding-top:30px;">
            <a class="btn btn-primary" href="#" role="button">topへ</a>
        </div>
    </div>



    <script>
        var myModal = document.getElementById('myModal');
        var myInput = document.getElementById('myInput');

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus();
        });
    </script>

</body> 
{% endblock content %}