{% extends "moticom/base_admin.html" %}

{% load i18n static %}

{% block content %}
<body>
    <div class="container gx-5" style="padding: 50px 10px 10px">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 style="padding-bottom: 20px;">ジャンル管理</h1>
        <p>
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
            aria-expanded="false" aria-controls="multiCollapseExample1">追加</a>
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button"
            aria-expanded="false" aria-controls="multiCollapseExample2">消去</a>
        </p>
        <div class="row">
          <div class="col">
            {% if error %}
            <div class="collapse multi-collapse show" id="multiCollapseExample1">
            {% else %}
            <div class="collapse multi-collapse" id="multiCollapseExample1">
            {% endif %}
              <div class="card card-body">
                <div class="mb-3">
                  <label for="formGroupExampleInput" class="form-label">追加ジャンル</label>
                  <form action="{% url 'moticom:add_genre' %}" method='post'>
                  {% csrf_token %}
                  {{ form }}
                  {% if error %}
                  <p class="text-danger">{{ error }}</p>
                  {% endif %}
                  <div style="padding-top: 20px;">
                    <input type="submit" value="追加"class="btn btn-primary" role="button">
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <form action="{% url 'moticom:delete_genre' %}" method="post" class="card">
                <div class="card card-body">
                  <label for="formGroupExampleInput" class="form-label">消去ジャンル</label>
                  {% csrf_token %}
                  {% for genre in genre_list %}  
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="genre_id" value="{{ genre.id }}">
                      <label class="form-check-label">
                        {{ genre }}
                      </label>
                    </div>
                  {% endfor %}
                  <div style="padding-top: 20px;">
                    <input type="submit" value="送信"class="btn btn-primary" role="button">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div style="padding-top: 10px;">
          <h4>ジャンル名</h4>
          <ul>
          {% for genre in genre_list %}
            <li>{{ genre }}</li>
          {% endfor %}
          </ul>
        </div>
        <div style="text-align: center; padding-right: 500px">
          <a class="btn btn-primary" href="#" role="button">戻る</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    var collapseElementList = [].slice.call(document.querySelectorAll('.collapse'));
    var collapseList = collapseElementList.map(function (collapseEl) {
      return new bootstrap.Collapse(collapseEl);
    });
  </script>
</body>
{% endblock content %}