{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" style="height: 100%;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'moticom/css/bootstrap.min.css' %}">
    </head>
    <body>
        <script src="{% static 'moticom/js/chart.js' %}"></script>
        <div class="container">
            <h2 class="mt-4 border-bottom">ダッシュボード</h2>
            <div style="width: 200px; height:200px">
                <canvas id="myChart1" width="200px" height="200px"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart1').getContext('2d');
                        var chart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'bar',
    
                        // The data for our dataset
                        data: {
                            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                            datasets: [{
                                label: '',
                                backgroundColor: 'rgb(255, 99, 0)',
                                borderColor: 'rgb(255, 99, 132)',
                                data: [0, 10, 5, 100, 20, 30, 45]
                            }]
                        },
    
                        // Configuration options go here
                        options: {}
                    });
                    </script>
                
                
            </div>
            <h2 class="mt-2 border-bottom pb-2">新着投稿</h2>
            <div class="d-flex flex-column pt-3" style="background: rgb(150, 200, 200)">
                 {% if latest_report_list %}
                        {% for report in latest_report_list %}
                            <p class="ps-3 pb-3 mt-0 mb-0 small lh-sm border-bottom">
                                <strong class="d-block">@{{ report.user_id }}</strong>
                                {{ report.report_text }}
                            </p>
                        {% endfor %}
                {% else %}
                        <p class="pb-3 mb-0 small lh-sm border-bottom">
                            投稿がありません
                        </p>
                {% endif %}
                
            </div>
        </div>
    </body>
</html>