{% extends 'moticom/base.html' %}

{% load i18n static %}

{% block content %}
    <body>
        <script src="{% static 'moticom/js/chart.js/dist/chart.js' %}"></script>
        <div class="container">
            <h2 class="mt-4 border-bottom">ダッシュボード</h2>
            <script>
                let label_list;
                let data_list;
            </script>
            <!--グラフ表示-->
            {% for chart_data in data.values %}
                {% include 'moticom/charts/line_plot.html' with chart_data=chart_data %}
            {% endfor %}
            
            <h2 class="mt-2 border-bottom pb-2">新着投稿</h2>
            <div class="d-flex flex-column pt-3" style="background: rgb(150, 200, 200)">
                 {% if latest_report_list %}
                        {% for report in latest_report_list %}
                            <p class="ps-3 pb-3 mt-0 mb-0 small lh-sm border-bottom">
                                <strong class="d-block">@{{ report.user_id }}</strong>
                                {{ report.report_text }}
                            </p>
                        {% endfor %}
                {% else %}
                        <p class="pb-3 mb-0 small lh-sm border-bottom">
                            投稿がありません
                        </p>
                {% endif %}
            </div>
        </div>
    </body>
{% endblock content %}