{% extends 'moticom/base.html' %}

{% load i18n static %}

{% block content %}
<body>
    <div class="container gx-5" style="padding: 10px 10px 10px 10px;">
        <h2 class="mt-2 border-bottom pb-2">調整</h2>
        <div style="padding-top: 20px;">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h4 style="padding-bottom: 10px;">レイアウトの変更</h4>
                </div>
                <div class="row">
                    <div class="col">
                        <P class="fs-5">背景</P>
                    </div>
                    <div class="col-6">
                        <p class="fs-5">〇〇モード</p>
                    </div>
                    <div class="col">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2" style="padding-top: 2%;">
                        <P class="fs-5">文字サイズ</P>
                    </div>
                    <div class="col-1" style="padding-top: 2%;">
                        <P class="fs-6">Aa</P>
                    </div>
                    <div class="col-6">
                        <label for="customRange2" class="form-label"></label>
                        <input type="range" class="form-range" min="0" max="100" id="customRange2">
                    </div>
                    <div class="col-1" style="padding-top: 2%;">
                        <P class="fs-5">Aa</P>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-top: 40px;">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h4 style="padding-bottom: 20px;">表示範囲の変更</h4>

                    <div class="row justify-content-between">
                        <div class="col-6">
                            <P class="fs-5">管理者用トップ画面</P>
                        </div>
                        <div class="col-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-6">
                            <P class="fs-5">分析結果確認画面</P>
                        </div>
                        <div class="col-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-6">
                            <P class="fs-5">ユーザー確認・登録画面</P>
                        </div>
                        <div class="col-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-6">
                            <P class="fs-5">調整用画面</P>
                        </div>
                        <div class="col-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-6">
                            <P class="fs-5">ジャンル管理画面</P>
                        </div>
                        <div class="col-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-6">
                            <P class="fs-5">フィルター設定画面</P>
                        </div>
                        <div class="col-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-6">
                            <P class="fs-5">報告再振り分け画面</P>
                        </div>
                        <div class="col-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-6">
                            <P class="fs-5">セキュリティ対策振り分けルール追加画面</P>
                        </div>
                        <div class="col-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">
                                </label>
                            </div>
                        </div>
                    </div>

                    <div style="text-align: right; padding-top: 5%;">
                        <a class="btn btn-primary" href="#" role="button">決定</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}