{% extends "moticom/base_admin.html" %}

{% load i18n static %}

{% block extra_css %}
<style>
    div.overflow-auto {
        min-width:95%;
        height: 300px;
        overflow: auto;
    }
</style>
{% endblock extra_css %}

{% block content %}
 <body>
    <div class="container" style="padding: 10px 10px 10px 10px;">
        <h2 class="mt-2 border-bottom pb-2">セキュリティ対策振り分けキーワード追加設定</h2>
        <div style="padding-top: 20px;">
            <div class="row">
                <div class="col col-md-offset-2">
                    <h5 style="padding-bottom: 10px;">キーワードリスト</h5>
                    <div class="overflow-auto">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">キーワード</th>
                                    <th scope="col">管理策名</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key in keyword_list %}
                                <tr>
                                    <th scope="row">{{ key.id }}</th>
                                    <td>{{ key.key_words }}</td>
                                    <td>{{ key.cm_id }}</td>
                                    <th>
                                        <form action="{% url 'moticom:DeleteKeyWord' %}" method='post'>
                                            {% csrf_token %}
                                            <input type="hidden" name="key_id" value="{{ key.id }}">
                                            <input type="submit" value="削除" class="btn btn-danger " role="button">
                                        </form>
                                    </th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-top: 30px;">
            <h5 style="padding-bottom: 10px;">キーワード追加</h5>
        </div>
        <div class="row g-3" style="padding-top: 20px;">
            <form action="{% url 'moticom:linking' %}" method="post">
                <div class="col">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <div class="col">
                    <input type="submit" value="登録" class="btn btn-primary" role="button">
                </div>
            </form>
        </div>
        <div>
            <h5 style="padding-top: 20px; padding-bottom: 10px;">投稿の管理策再振り分け</h5>
            <div class="overflow-auto">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="15%"scope="col">ジャンル</th>
                            <th width="50%" scope="col">投稿内容</th>
                            <th width="20%" scope="col">管理策名</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for report in report_list %}
                        <tr>
                            <th scope="row">{{ report.genre_id }}</th>
                            <td width="500">{{ report.report_text }}</td>
                            <td>{{ report.cm_id }}</td>
                            <th>
                                <form action="{% url 'moticom:switch_link' %}" method='post'>
                                    {% csrf_token %}
                                    <input type="hidden" name="report_id" value="{{ report.id }}">
                                    <select name='cm_id'>
                                        {% for cm in cm_list %}
                                        <option value="{{ cm.id }}">{{ cm.cm_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="submit" value="変更" class="btn btn-primary " role="button">
                                </form>
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock content %}