{% extends 'moticom/base.html' %}

{% block content %}
<!DOCTYPE html>
{% load static %}

<body>
<h1>ログイン画面</h1>

<div class="reg">
  <form method="post" action="{% url 'moticom:login' %}">
    {% csrf_token %}

    <table class="reg_form">
    <tr>
    <td><label for="username">ユーザーID:</label></td>
    <td><input type="text" name="username"></td>
    <td><label for="password">パスワード：</label></td>
    <td><input type="password" name="password"></td>
    </tr>
    </table>

    <input type="submit" class="btn" value="Login">
 </form>
</div>
</body>
</html>


{% endblock %}