{% extends 'moticom/base.html' %}

{% load i18n static %}

{% block content %}
  <body>
    <div class="container">
      <h2 class="mt-4 border-bottom">プロフィール管理</h2>
      <div></div>
    </div> 
    <div class="row justify-content-md-center" style="padding-top: 40px;">
      <div class="card mb-3" style="max-width: 800px;">
        <div class="row g-0">
          <h1 class="card-title" style="padding-bottom: 50px;">プロフィール</h1>
          <div class="col-md-4">
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="200" height="200"><path fill-rule="evenodd" d="M12 2.5a5.5 5.5 0 00-3.096 10.047 9.005 9.005 0 00-5.9 8.18.75.75 0 001.5.045 7.5 7.5 0 0114.993 0 .75.75 0 101.499-.044 9.005 9.005 0 00-5.9-8.181A5.5 5.5 0 0012 2.5zM8 8a4 4 0 118 0 4 4 0 01-8 0z"></path></svg>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">ユーザー名</p>
              <span class="fw-bold, fs-4">{{ user.username }}</span>
              <p class="card-text" style="padding-top: 10px;">パスワード</p>
              <input type="password" value="{{ user.password }}" disabled>
              <div style="text-align: center; padding-left: 70%;">
              {% if form_name == "password_change" %}
                {% else %}
                <a class="btn btn-primary" href="{% url 'password_change_form' %}" role="button">パスワードの変更</a>
              {% endif  %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock content %}