{% extends 'moticom/base.html' %}

{% load i18n static %}

{% block content %}
  <body>
    <div class="container">
      <h2 class="mt-4 border-bottom">プロフィール管理</h2>
      <div></div>
    </div> 
    <div class="row justify-content-md-center" style="padding-top: 40px;">
      <div class="card mb-3" style="max-width: 800px;">
        <div class="row g-0">
          <h1 class="card-title" style="padding-bottom: 50px;">プロフィール</h1>
          <div class="col-md-4">
            <img src="assets/images/bs-images/img-2x2.png" class="img-thumbnail" alt="rounded-circle">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">ユーザー名</p>
              <span class="border border-dark border-1"></span>
              <p class="card-text">メールアドレス</p>
              <span class="border border-dark border-1"></span>
              <p class="card-text">パスワード</p>
              <span></span>
              <div style="text-align: center; padding-left: 70%;">
                <a class="btn btn-primary" href="#" role="button">パスワードの変更</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock content %}