{% extends 'moticom/base_admin.html' %}

{% load i18n static %}

{% block extra_css %}
<style>
        div.overflow-auto {
            width: 700px;
            height: 300px;
            overflow: auto;
        }
</style>
{% endblock extra_css %}

{% block content %}
<body>
    <div class="container gx-5" style="padding: 100px 10px 10px 230px;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 style="padding-bottom: 20px;">ユーザー一覧</h1>
                <div class="overflow-auto">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">username</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user_list %}    
                                <tr>
                                    <td>{{ user.username }}</td>
                                </tr>
                            {% endfor %}  
                        </tbody>
                    </table>
                </div>
                <div style="text-align: center; padding-left: 90%;">
                    <a class="btn btn-primary" href="{% url 'moticom:signup' %}" role="button">追加</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}