        <div class="col mt-5">
            <div style="width: 300px; height:300px">
            {% if chart_data.title %}
                <h5>{{ chart_data.title }}</h5>
            {% endif %}
                <canvas id="{{chart_data.chart_id}}" width="300px" height="300px"></canvas>
                    <script>
                        label_list =  JSON.parse('{{ chart_data.label_list|safe }}');
                        data_list = JSON.parse('{{ chart_data.data_list|safe }}');
                        var ctx = document.getElementById('{{chart_data.chart_id}}').getContext('2d');
                        var chart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'line',
                        // The data for our dataset
                        data: {
                            labels: label_list,
                            datasets: [{
                                yAxisID: 'yAxes_1',
                                label: '投稿数',
                                backgroundColor: 'rgb(255, 99, 0)',
                                borderColor: 'rgb(255, 99, 132)',
                                data: data_list
                            }]
                        },
                        // Configuration options go here
                        options: {
                            scales: {
                                    "yAxes_1":{
                                            beginAtZero: true,
                                            ticks:{
                                                stepSize: 1
                                            }
                                    }
                                }
                            }
                        });
                    </script>
            </div>
        </div>