<!--現在未使用-->
{% extends 'moticom/base.html' %}

{% load i18n static %}

{% block content %}
<form action="{% url 'moticom:chart' %}" method="post">
{% csrf_token %}
    <input type="submit" name="manthly" value="月間日別">
    <input type="submit" name="weekly" value="週間日別">
    <input type="submit" name="yearly" value="年間月別">
</form>
<div style="width: 300px; height:300px">
    <canvas id="charts" width="300px" height="300px"></canvas>
    <script>
        const label_list =  JSON.parse('{{ day_list|safe }}');
        const data_list = JSON.parse('{{ data_list|safe }}');
        var ctx = document.getElementById('charts').getContext('2d');
        var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: label_list,
            datasets: [{
            yAxisID: 'yAxes_1',
            label: '',
            backgroundColor: 'rgb(255, 99, 0)',
            borderColor: 'rgb(255, 99, 132)',
            data: data_list
                }]
            },
        // Configuration options go here
        options: {
            scales: {
                "yAxes_1":{
                        beginAtZero: true,
                        ticks:{
                        stepSize: 1
                            }
                    }
                }
            }
        });
    </script>
</div>
{% endblock content %}