        <div class="col">
            <div style="width: 300px; height:300px">
                {% if chart_data.title %}
                    <h5>{{ chart_data.title }}</h5>
                {% endif %}
                <canvas id="{{chart_data.chart_id}}" width="300px" height="300px"></canvas>
                    <script>
                        label_list =  JSON.parse('{{ chart_data.label_list|safe }}');
                        data_list = JSON.parse('{{ chart_data.data_list|safe }}');
                        function RandomColor(label_list){
                            var colors = [];
                            for(let i = 0; i < label_list.length; i++){
                                var random1 = Math.floor( Math.random() * 256 );
                                var random2 = Math.floor( Math.random() * 256 );
                                var random3 = Math.floor( Math.random() * 256 );
                                var color = 'rgb('+random1.toString()+', '+random2.toString()+', '+random3.toString()+')'
                                colors.push(color)
                            }
                            return colors
                        }
                        var ctx = document.getElementById('{{chart_data.chart_id}}').getContext('2d');
                        var chart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'pie',
                        // The data for our dataset
                        data: {
                            labels: label_list,
                            datasets: [{
                                backgroundColor: RandomColor(label_list),
                                data: data_list
                            }]
                        },
                        // Configuration options go here
                        options: {
                            plugins: {
                               legend : {// 凡例の非表示
                                    display : false
                                     }
                                 },
                        }
                        });
                    </script>
            </div>
        </div>